@import "partials/vars";
.header-emagazine{
    display: flex;
    background-color: $main;
    box-shadow: 0 0 18px 0 rgba(#000, 0.15);
    align-items: center;
    column-gap: 10px;
    color: #fff;
    .share-box{
        padding: 0px 10px;
    }
    .back{
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        background-color: rgba(#000,0.2);
        font-size: 24px;
        color: #fff;
    }
    .logo{
        display: flex;
        align-items: center;
        padding: 5px 10px;
        column-gap: 7px;
        flex: 1;
        min-width: 0px;
        img{
            height: 40px;
        }
        .text-m{
            text-transform: uppercase;
            font-weight: 600;
            color: #ffcb03;
            font-size: 12px;
        }
        .title{
            font-size: 18px;
            font-weight: bold;
        }
    }
    @media(max-width:768px){
        .logo{
            .text-content{
                display: none;
            }
        }
    }
}



.box-container-emagazine{
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    .post-image{
        img{
            height: 200px;
            @media(max-width:991px){
                height: 160px;
            }
        }
        
    }
    .post-title{
        >a{
            font-size: 18px;
        }
    }
    .top-data{
        position: relative;
        .post-image{
            height: 464px;
            overflow: hidden;
            position: relative;
            &:before{
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 100%;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.8));
                background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.8));
                background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.8));
                content: '';
                z-index: 1;
            }

        }
        
        .post-content{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            color: #fff;
            z-index: 2;
            padding: 20px;
        }
        .post-title{
            >a{
                color: #fff;
                font-size: 24px;
            }
        }
        .post-date{
            color: #fff;
        }
    }
    @media(max-width:768px){
        .top-data{
            &:before{
                display: none;
            }
            .post-image{
                height: auto;
                img{
                    height: auto;
                }
            }
            .post-title{
                >a{
                    font-size: 16px;
                    color: $text;
                }
            }
            .post-content{
                padding: 0px;
                position: relative;
            }
            .post-date{
                color: $textD;
            }
        }
        .post-title{
            >a{
                font-size: 16px;
            }
        }
    }
}

.article-magazine{
    line-height: 1.5;
    max-width: 991px;
    padding: 40px 160px;
    margin: auto;
    color: #000;
    font-size: 16px;
    img {
        max-width: 100%;
        height: auto;
    }
    &:after{
        content: "";
        display: block;
        clear: both;
    }
    p{
        margin: 10px 0px;
    }
    .span-image-small{
        margin: 0px -160px;
        img{
            width: 100%;
        }
        &.align-overflow-right{
            float: right;
            margin: 0px;
            margin-right: -100px;
            max-width: 450px;
            margin-left: 20px;
        }
        &.align-overflow-left{
            float: left;
            margin: 0px;
            margin-left: -100px;
            max-width: 450px;
            margin-right: 20px;
        }
        &.align-full{
            width: 100vw;
            margin-left: calc((991px - 100vw)/2 -  160px);
        }
    }
    @media(max-width:991px){
        width: 100%;
        padding: 30px;
        .span-image-small.align-full{
            margin: 0px -30px;
        }
        .span-image-small{
            margin: 0px -30px;
        }
        .span-image-small.align-overflow-left{
            margin-left: -30px;
            max-width: 300px;
        }
        .span-image-small.align-overflow-right{
            margin-right: -30px;
            max-width: 300px;
        }
    }
    @media(max-width:768px){
        .span-image-small.align-overflow-right,.span-image-small.align-overflow-left{
            margin: 0px;
            max-width: 100%;
            text-align: center;
            float: none;
        }
    }

}