$main:#035FB5;
$second: #1672C9;
$third: #EB5757;
$text:#092D6A;
$bg:#F3F4F5;
$textD:#98A0AA;
$border:#DFE3E8;
$border1:#E1E8F3;
$success:#20976C;
$warning:#FF7D04;
$danger:#ED1919;
$info:#0B8AFF;
$chartE:#CD59B1;
$red:#ED1919;
$font-small:12px;
$font-default:14px;
$font-large:16px;
$font-big:20px;
